.header {

}

.content {
  padding: 1rem;
}

.slider {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}

.box1, .box2, .box3 {
    padding-top: 50px;
	height: 100%;
	min-height: 100%;
	background: url('../images/logo.jpg') no-repeat center;
	bottom: 0;
}

.box h1{
	text-align:center;
}

.font-icon{
	display: block;
    margin-left: auto;
    margin-right: auto 
}

