<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">FOODS MENU CATEGORY</h1>
    </ion-header-bar>

    <ion-content>
        <div class="card">
             <div class="item item-text-wrap">
              This is a basic Card with some text.
            </div>
            <div class="item item-divider">
              {{category1}}
            </div>
        </div>

        <div class="card">
           <div class="item item-text-wrap">
              This is a basic Card with some text.
          </div>
          <div class="item item-divider">
              Full enough, give me some meal
          </div>
      </div>
    </ion-content>
</ion-view>