<ion-view>
    <ion-header-bar align-title="center" class="bar-orange">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <img src="../images/logo-font.png" class="font-icon"/>
    </ion-header-bar>

    <ion-content>

    <ion-slide-box>

    <ion-slide>
      <div class = "box box1">
      </div>
    </ion-slide>

    <ion-slide>
      <div class = "box box2">
       
      </div>
    </ion-slide>

    <ion-slide>
      <div class = "box box3">
       
      </div>
    </ion-slide>

    </ion-slide-box>


</ion-content>

</ion-view>
