<ion-view>
   <ion-header-bar align-title="center" class="bar-orange">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <img src="../images/logo-font.png" class="font-icon"/>
    </ion-header-bar>

    <ion-content>
      <div class="row responsive-lg" style="margin-bottom:0px">
        <div class="card" style="margin:5px 0px" ng-repeat="food in foods">
          <div class="item item-image">
            <div class="item-cover" ng-style="{'background-image':'url(../images/{{food.imageName}})'}">
              <div class="item-overlay">
                <p>{{food.menuName}}</p>
              </div>
            </div>
          </div>
        </div>
        
    </ion-content>
</ion-view>