
<ion-view ng-init="getMenu()">
  
    <ion-nav-bar class="bar-orange">
      <ion-nav-back-button class="button-clear" ng-click="goBack()">
        <i class="ion-ios-arrow-back"></i>
      </ion-nav-back-button>
      <ion-nav-title>
          <img src="../images/logo-font.png" class="font-icon" style="margin-top:10px"/>
      </ion-nav-title>
    </ion-nav-bar>

    <ion-content>
    
    <div class="row responsive-lg">
      <div class="col" ng-repeat="menu in menus" style="background-color:#D7DBE4">
        <div class="row">
          <div class="col col-25" style="max-width:40%">
            <img src="http://placehold.it/250x150">
          </div>
          <div class="col">
            <h4>{{menu.menuName}}</h4>
            <p>{{menu.description}}</p>
            <hr>
            <div class="row">
              <div class="col col-50">
                <span style="float:left">{{menu.price | currency:''}}</span>
              </div>
              <div class="col col-50" style="alignt-content:end">
                <button style="al" class="button button-balanced">Order</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
