
<ion-view>
  
    <ion-nav-bar class="bar-orange">
      <ion-nav-back-button class="button-clear" ng-click="goBack()">
        <i class="ion-ios-arrow-back"></i>
      </ion-nav-back-button>
      <ion-nav-title>
          <img src="../images/logo-font.png" class="font-icon" style="margin-top:10px"/>
      </ion-nav-title>
    </ion-nav-bar>
    <ion-content>
    <div class="row responsive-lg" style="margin-bottom:0px">
      <div class="card" style="margin:5px 0px">
        <div class="item item-divider">
          I'm a Header in a Card!
        </div>
        <div class="item item-text-wrap">
          This is a basic Card with some text.
        </div>
        <div class="item item-divider">
          I'm a Footer in a Card!
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
