
<ion-view ng-init="getChildMenu()">
  
    <ion-nav-bar class="bar-orange">
      <ion-nav-back-button class="button-clear" style="color:#FFFFFF">
        <i class="ion-chevron-left"></i> Back
      </ion-nav-back-button>
      <ion-nav-title>
          <!-- <img src="../images/logo-font.png" class="font-icon" style="margin-top:10px"/> -->
          <h4 style="color:#FFFFFF">{{category}}</h1>
      </ion-nav-title>
    </ion-nav-bar>

    <ion-content>
    
    <ion-list>
      <ion-item ng-repeat="menu in menus" ng-click="goDetail(menu)" style="color:#FFA726">
          <!-- <i class="icon ion-thumbsup" style="color:#FFC107"></i> -->
          <strong>{{menu.menuName}}</strong>
          <span style="float:right"><i class="icon ion-chevron-right icon-accessory pull-right"></i></span>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
