<ion-side-menus>
    <!-- Center content -->
    <ion-side-menu-content>
        
        <ion-nav-view name="viewContent"></ion-nav-view>
    
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left" class="side-menu">

        <ion-header-bar align-title="center" class="bar-orange">
            <h1 class="title">Navigation</h1>
        </ion-header-bar>

        <ion-content class="has-header">
            <div class="list">
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.home">
                    <i class="icon ion-ios-home-outline" style="color:#FFC107"></i>
                    Home
                </a>
               <!--  <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.settings">
                   <i class="icon ion-ios-settings" style="color:#FFC107"></i>
                    Settings
                </a> -->
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.food" >
                    <i class="icon ion-fork" style="color:#FFC107"></i><i class="icon ion-spoon" style="color:#FFC107;margin-left:15px"></i>
                    Eat
                </a>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.drink">
                    <i class="icon ion-ios-wineglass-outline" style="color:#FFC107"></i>
                    Drink
                </a>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.drink">
                    <i class="icon ion-ios-list-outline" style="color:#FFC107"></i>
                    My Order
                </a>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>